DEFAULT vesamenu.c32
TIMEOUT 50
ONTIMEOUT ESXi-{{ esxi_tftp_esxi_version }}
PROMPT 1
MENU INCLUDE pxelinux.cfg/pxe.conf
NOESCAPE 1

# Directly callable (ontimeout) boots
LABEL BootLocal
        localboot 0
        TEXT HELP
        Boot to local hard disk
        ENDTEXT

LABEL ESXi-{{ esxi_tftp_esxi_version }}
        KERNEL /images/ESXi-{{ esxi_tftp_esxi_version }}/mboot.c32
        APPEND -c /images/ESXi-{{ esxi_tftp_esxi_version }}/boot.cfg ks=http://{{ dnsmasq_tftp_hostname }}/KS/ESX_KS.CFG
        MENU LABEL ESXi-{{ esxi_tftp_esxi_version }}
        TEXT HELP
        Install ESXi-{{ esxi_tftp_esxi_version }}
        ENDTEXT

# Menus
LABEL ESXi Interactive Installs
        MENU LABEL ESXi Interactive Installs
        KERNEL vesamenu.c32
        APPEND pxelinux.cfg/pxe.conf pxelinux.cfg/conf/Interactive.menu

LABEL ESXi Scripted Installs
        MENU LABEL ESXi Scripted Installs
        KERNEL vesamenu.c32
        APPEND pxelinux.cfg/pxe.conf pxelinux.cfg/conf/Scripted.menu
